
body {
    font-family: Arial, sans-serif;
    background-color: #6fb5fc;
    color: #9b5a5a;
    margin: 0;
}

.fit-picture {
  width: 110px;
}

.buttonpanier {
    color: brown;
      background-color: #2c3e50;

}