.fit-picture {
  width: 1000px;
}

.fit-orange {
  width: 800px;
}


.fit-bleu {
  width: 700px;
}


.fit-blanc {
  width: 500px;
}

.Paypal {
  width: 100px;
}

.Master {
  width: 300px;
}

.Externe {
  width: 300px;
}

.Carte {
  width: 300px;
}

.h1 {
  color: #3bc446;
}

.h2 {
  color: #3bc446;
}

.h3 {
  color: #3bc446;
}


.titre {
  text-align: center;
  color: #382d2de5;
  border-radius: 10px;
  background-color: rgba(243, 115, 10, 0.171)
}

.r {
  text-align: center;
  color: #382d2de5;
}


.buttonpanier {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.buttonpanier:hover {
  background-color: rgb(173, 170, 170);
}

.buttonpanier:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7d1a6;
    color: #333;
    margin: 0;
}


.container {
    max-width: 10000px;
    margin: 0 auto;
}


header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgb(255, 255, 255);
}

footer {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgb(255, 255, 255);
}


.orange {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(255, 153, 57);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.orange:hover {
  background-color: rgb(255, 167, 53);
}

.orange:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}


.bleu-nuit {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(46, 59, 177);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.bleu-nuit:hover {
  background-color: rgb(54, 97, 175);
}

.bleu-nuit:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}



.blanc {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.blanc:hover {
  background-color: rgb(255, 255, 255);
}

.blanc:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.paypal {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(105, 194, 253);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow:
    inset 2px 2px 3px rgba(89, 157, 245, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.paypal:hover {
  background-color: rgb(87, 185, 250);
}

.paypal:active {
  box-shadow:
    inset -2px -2px 3px rgba(131, 150, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.cadeaux {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(116, 240, 157);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow:
    inset 2px 2px 3px rgba(6, 189, 143, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.cadeaux:hover {
  background-color: rgb(107, 236, 204);
}

.cadeaux:active {
  box-shadow:
    inset -2px -2px 3px rgba(131, 150, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.master {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(154, 90, 228);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow:
    inset 2px 2px 3px rgba(6, 189, 143, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.master:hover {
  background-color: rgb(207, 86, 231);
}

.master:active {
  box-shadow:
    inset -2px -2px 3px rgba(131, 150, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.carte {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(219, 181, 56);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow:
    inset 2px 2px 3px rgba(235, 200, 5, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.carte:hover {
  background-color: rgb(225, 255, 114);
}

.carte:active {
  box-shadow:
    inset -2px -2px 3px rgba(131, 150, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}


.Accueil
 {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(121, 9, 9);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow:
    inset 2px 2px 3px rgba(97, 2, 14, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.Accueil
:hover {
  background-color: rgb(68, 7, 12);
}

.Accueil
:active {
  box-shadow:
    inset -2px -2px 3px rgba(131, 150, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}


.cara {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 1px #0d0e74;
  border-radius: 10px;
  background-color: rgb(13, 50, 129);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow:
    inset 2px 2px 3px rgba(8, 42, 94, 0.6),
    inset -2px -2px 3px rgba(7, 51, 109, 0.6);
}

.cara:hover {
  background-color: rgb(14, 46, 105);
}

.cara:active {
  box-shadow:
    inset -2px -2px 3px rgba(8, 29, 100, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.minitexte {
    font-size: larger;

}